{% extends 'mysite/base.html' %}

{% block title %} Create New Post {% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Create New Post</h1>

          <form method="post" action="{% url 'create_post' pk=thread.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  