{% extends 'mysite/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<style type="text/css">
    .border {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
    }

    .subheader {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .fixture-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .team {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-team {
        text-align: right;
    }

    .visitor-team {
        text-align: left;
    }

    .score {
        flex: 0 0 auto;
        text-align: center;
    }

    .team-logo {
        width: 100px; /* Adjust width based on desired size */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 10px;
    }

    .team-name {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .additional-info {
        font-size: 14px;
    }
    
    .btn-fixture {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 20px; /* Adjust vertical position if needed */
        margin-right: 30px; /* Adjust horizontal position if needed */
    }
</style>

<main style="padding-top: 50px;" role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Your Fantasy NBA Assistant</h1>
            <p>This is your ultimate tool for managing your fantasy NBA team. Get player comparisons, stay updated with the latest news about your favorite team, and connect with other fans in the forum.</p>
            <p><a class="btn btn-primary btn-lg" href="/teambuilder" role="button">Go to Team Builder &raquo;</a></p>
        </div>
    </div>

    <!-- Display the most recent fixture -->
    <div style="padding-bottom: 20px;" class="row">
        <div class="col-md-12">
            <div class="border p-3 mb-3">
                <h2 class="subheader">Recent Fixture</h2>
                <a href="/fixtures" class="btn btn-primary btn-sm btn-fixture">View All Fixtures</a>
                <div class="fixture-container">
                    <div class="team home-team">
                        <img src="{{ fixture.teams.home.logo }}" alt="{{ fixture.teams.home.name }} Logo" class="team-logo">
                        <h3 class="team-name">{{ fixture.teams.home.name }}</h3>
                    </div>
                    <div class="score">
                        <h2>{{ fixture.scores.home.points }} - {{ fixture.scores.visitors.points }}</h2>
                        <p class="additional-info"><strong>Arena:</strong> {{ fixture.arena.name }}, {{ fixture.arena.city }}, {{ fixture.arena.state }}</p>
                        <p class="additional-info"><strong>Date:</strong> {{ fixture_datetime }}</p>
                    </div>
                    <div class="team visitor-team">
                        <img src="{{ fixture.teams.visitors.logo }}" alt="{{ fixture.teams.visitors.name }} Logo" class="team-logo">
                        <h3 class="team-name">{{ fixture.teams.visitors.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Player Comparison</h2>
                <p>Compare player statistics side by side and make informed decisions for your fantasy team.</p>
                <p><a class="btn btn-secondary" href="/playercomparison" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>{{ favorite_team }} News</h2>
                <ul>
                    {% for news_item in nba_news %}
                        <li><a href="{{ news_item.url }}">{{ news_item.title }}</a></li>
                    {% endfor %}
                </ul>
                <p><a class="btn btn-secondary" href="/news" role="button">View all news &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Forum Page</h2>
                <p>Connect with other fans, discuss strategies, and share insights in our forum.</p>
                <p><a class="btn btn-secondary" href="/forum" role="button">Visit forum &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>

</main>
{% endblock %}
