{% extends 'mysite/base.html' %}

{% block title %} News {% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="mb-4">Recent News</h1>
    <!-- Search Bar -->
    <form method="GET" action="{% url 'news' %}" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search players...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div style="padding-bottom: 20px;" class="row">
        <div class="col-md-8">
            <ul class="list-group">
                {% for news_item in news_data %}
                <li class="list-group-item">
                    <a href="{{ news_item.url }}" target="_blank">{{ news_item.title }}</a>
                    <p class="text-muted">Source: {{ news_item.source }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
