{% extends 'mysite/base.html' %}

{% block title %} Player Comparison {% endblock %}

{% block content %}

<style>
    .table-responsive {
        overflow-x: auto;
    }
</style>

<div style="padding-top: 20px;" class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Player Comparison Radar Chart {{ player1_fantasystats.PTS }}</h2>
            <div class="card">
                <div class="card-body">
                    <canvas id="radarChart" width="400" height="400"></canvas>
                </div>
            </div> 

            <div class="container mt-5" style="padding-bottom: 20px;" >
                <h2 class="text-center mb-4">Player Stats Table</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-15">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        {% for header in headers %}
                                        <th>{{ header }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ player1_name }}</td>
                                        {% for stat in player1_fantasystats %}
                                        <td>{{ stat }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td>{{ player2_name }}</td>
                                        {% for stat in player2_fantasystats %}
                                        <td>{{ stat }}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var data = {
        labels: [{% for stat_label in selected_stats %}'{{ stat_label }}',{% endfor %}],
        datasets: [
            {
                label: '{{ player1_name }}',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                data: [{% for stat in player1_stats %}{{stat}},{% endfor %}],
            },
            {
                label: '{{ player2_name }}',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                data: [{% for stat in player2_stats %}{{stat}},{% endfor %}],
            },
        ]
    };

    var options = {
        scale: {
            ticks: {
                beginAtZero: true,
                max: 30,
            }
        }
    };

    var ctx = document.getElementById('radarChart').getContext('2d');
    var radarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });
</script>
{% endblock %}
