{% extends 'mysite/base.html' %}

{% block title %}Player Comparison Form{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Player Comparison</h2>

                <form method="post" action="{% url 'playercomparison' %}" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.player1.id_for_label }}">Select Player 1:</label>
                        {{ form.player1 }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.player2.id_for_label }}">Select Player 2:</label>
                        {{ form.player2 }}
                    </div>

                    <div class="form-group">
                        <label>Select at least 3 stats:</label>
                        <div class="form-check">
                            {% for stat in form.selected_stats.field.choices reversed %}
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="selected_stats" value="{{ stat.0 }}" id="id_selected_stats_{{ forloop.counter0 }}" class="form-check-input">
                                    <label class="form-check-label" for="id_selected_stats_{{ forloop.counter0 }}">{{ stat.1 }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Compare Players</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
