{% extends 'mysite/base.html' %}

{% block title %} Player Comparison {% endblock %}

{% block content %}

<!-- radar_chart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="radarChart" width="400" height="400"></canvas>

    <script>
        // Access data passed from Django views
        var data = {
            labels: ['PPG', 'APG', 'RPG', 'SPG', 'BPG'],
            datasets: [
                {
                    label: 'Player 1',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    data: [
                        {{ player1_stats.PPG }},
                        {{ player1_stats.APG }},
                        {{ player1_stats.RPG }},
                        {{ player1_stats.SPG }},
                        {{ player1_stats.BPG }},
                    ],
                },
                {
                    label: 'Player 2',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    data: [
                        {{ player2_stats.PPG }},
                        {{ player2_stats.APG }},
                        {{ player2_stats.RPG }},
                        {{ player2_stats.SPG }},
                        {{ player2_stats.BPG }},
                    ],
                },
            ]
        };

        // Radar chart options
        var options = {
            scale: {
                ticks: {
                    beginAtZero: true,
                    max: 30,
                }
            }
        };

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById('radarChart').getContext('2d');

        // Create the radar chart
        var radarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: options
        });
    </script>
</body>
</html>


{% endblock %}