{% extends 'mysite/base.html' %}

{% block title %} {{ team.name }} Profile Page {% endblock %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css">
</head>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="padding-top: 30px;" >{{ team.name }} Profile</h1>
            <hr>
            <!-- Team Information Section -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <img src="{{ team.logo }}" alt="{{ team.name }} Logo" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <h3>Team Information</h3>
                    <p><strong>Nickname:</strong> {{ team.nickname }}</p>
                    <p><strong>Code:</strong> {{ team.code }}</p>
                    <p><strong>City:</strong> {{ team.city }}</p>
                    <p><strong>Conference:</strong> {{ team.conference }}</p>
                    <p><strong>Division:</strong> {{ team.division }}</p>
                </div>
            </div>

            <div class="table-responsive">
                <table id="player-stats-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>FAN_DUEL_PTS</th>
                            <th>NBA_FANTASY_PTS</th>
                            <th>PTS</th>
                            <th>REB</th>
                            <th>AST</th>
                            <th>FG3M</th>
                            <th>FT_PCT</th>
                            <th>STL</th>
                            <th>BLK</th>
                            <th>TOV</th>
                            <th>FG_PCT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players_with_stats %}
                        <tr>
                            <td>{{ player.first_name }}</td>
                            <td>{{ player.last_name }}</td>
                            {% for stat in player.fantasy_stats %}
                            <td>{{ stat }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap5.min.js"></script>

<script>
    $(document).ready(function() {
        $('#player-stats-table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>
{% endblock %}


