{% extends 'mysite/base.html' %}

{% block title %} Thread List {% endblock %}

{% block content %}

<style>
  .container {
    margin: 20px;
    padding-top: 20px;  
  }
  
  .thread-list {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .thread {
    margin-bottom: 10px;
  }
  
  .thread h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .thread p {
    font-size: 14px;
    color: #666;
  }
  .creator-info {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
  }
</style>

  <div class="container">
    <h1>Thread List</h1>
    <div class="thread-list">
      <a href="{% url 'create_thread' %}" class="btn btn-primary mb-3">Create New Thread</a>
    <div class="thread-list">
      {% for thread in threads %}
      <div class="thread">
          <h2><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></h2>
          <div class="creator-info">
              <img class="profile-picture" src="{{ thread.creator.profile.profile_picture.url }}" alt="{{ thread.creator.username }}">
              <p style="padding-top: 10px;" class="creator-name">Created by: {{ thread.creator.username }}</p>
          </div>
          <p style="padding-top: 10px;">Created at: {{ thread.created_at }}</p>
      </div>
      {% endfor %}

    </div>    
  </div>
{% endblock %}
